body{
    background-color: black;
    color: azure;
    text-align: center;
    font-family: popinscregular;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
}
.about_left{
    img{
        width: 50px;
        border-radius: 100%;
    }
}
.skills{
    img{
        border-radius: 100%;
    }
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: aliceblue;
}
a:hover{
    color: blueviolet;
    transition:0,3s all ;
}
#increva-se-btn{
    border: 7px solid rgb(red, green, blue);
    padding: 10px;
    border-radius: 15px;
}
#increva-se-btn:hover{
 background-color: bisque;
 color: aqua;
}
h1{
    font-weight: 40px;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
h2{
    font-size: 34px;
    line-height: 1,3px;
    font-family: popinserdium;
}
span{
    color: blueviolet;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: popinslight;
    align-content: center;
}
img{
    width: 580px;
}
form{
   display: flex;
  flex-direction: column;
  width: 70%;
}
form[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color: azure;
    font-weight: bold;
}
form[type="submit"]:hover{
    cursor: pointer;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px ;
    border:none;
    font-size: 15px;
}
.form_image{
    display: flex;
    flex-direction: row !important;
}

.meio{
    display: flex;
    flex-direction: row;
}
.btn{
    background-color: none;
    border: none;
    padding: 1rem 4rem;
    display: inline;
    border-radius: 0.5rem;
}
.btn.btn-primeiro{
    background-color: blueviolet;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
}
.about{
display: flex;
padding-right:20px ;
}
.about-h2{
    line-height: 20px;
}
.about_left{
    width: 60%;
    margin-right: 20px;
}
.skills_content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description{
    text-align: center;
    max-width: 100px;
}
.skills_contet{
    display: flex;
}
.skills_item {
    img{
    max-width: 70px;
    display: inline;
    border-radius: 100%;
}
}
.projetoo{
    text-align: justify;
   
}

.projeto_content_p{
    max-width: 100px;
    text-align:center;
}


.projeto_destaque{
    img{
        width: 50%;
        max-width: 20%;
    }
}
.elemento1{
    img{
        border-radius: 100%;
    }
   
}
.elemento1{
    text-align: center;
    flex-direction: center;
}
.elemento2{
    img{
        border-radius: 50%;
        max-width: 120%;
    }
}
.elemento2{
   
    display: flex;
    flex-direction: center;
   
 
}
.elemento3{
    img{
        border-radius: 100%;
        max-width: 120%;
    }
}
.elemento3{
   
    display: flex;
    flex-direction: center;
  
   
}
.elemento4{
    img{
        border-radius: 100%;
        width: 60%;
    }
}
.elemento4{
    display: flex;
    flex-direction: center;
  
   
}
.projeto_info{
    height: 50px;
    width: 50%;
}


.mb-0{
    margin-bottom: 0;
    display: inline-block;
}
.mb-s{
    margin-bottom: 1rem;
}
.mb-m{
    margin-bottom:4rem;
}
.mb-l{
    margin-bottom:2rem;
}
.mb-xl{
    margin-bottom: 6rem;
}
 .footer{ 
 margin-top:5px 
} */ 
.footer_content{
    display: flex;
    flex-direction: row;
}
@media only screen and(max-width:124px){
    html { font-size: 60%;}

    h1{font-size: 6rem;}
}

@media only screen and(max-width:768px){
    html { font-size: 58%;}

    .max-width{padding:0 2rem}
}
@media only screen and(max-width:425px){
    h1{ font-size:4.2rem ;}
}

